@import "tailwindcss";
@import "swiper/swiper-bundle.css";

@theme {
  /* 높이 값 */
  --height-header: 80px;

  /* 너비 값 */
  --width-container: 1280px;
  --width-container-md: 1024px;
  --width-container-sm: 768px;

  /* 색상 값 */
  --color-primary-main: #4f555e;
  --color-primary-light: #72777f;
  --color-primary-dark: #2f333a;

  --color-secondary-main: #a27cb2;
  --color-secondary-light: #bc9fd0;
  --color-secondary-dark: #865f97;

  --color-text-primary: #1a1a1a;
  --color-text-secondary: #5c5c5c;
  --color-text-disabled: #b0b0b0;

  --color-bg-default: #fafafa;
  --color-bg-subtle: #f5f5f5;
  --color-bg-overlay: #1a1a1a50;

  --color-border-default: #cbcbcb;

  --color-system-error: #e53935;
  --color-system-warning: #f9a825;
  --color-system-success: #43a047;
  --color-system-info: #1e88e5;
}

@layer components {
  .text-h1 {
    @apply text-[6rem] leading-[1.6] font-bold tracking-[-0.03em];
  }
  .text-h2 {
    @apply text-[3.5rem] leading-[1.6] font-bold tracking-[-0.03em];
  }
  .text-h3 {
    @apply text-[3rem] leading-[1.4] font-bold tracking-[-0.03em];
  }
  .text-h4 {
    @apply text-[2.5rem] leading-[1.4] font-semibold tracking-[-0.03em];
  }
  .text-subtitle-1 {
    @apply text-[2rem] leading-[1.4] font-medium tracking-[-0.03em];
  }
  .text-subtitle-2 {
    @apply text-[1.5rem] leading-[1.4] font-medium tracking-[-0.03em];
  }
  .text-body-1 {
    @apply text-[1.25rem] leading-[1.4] font-normal tracking-[-0.03em];
  }
  .text-body-2 {
    @apply text-[0.875rem] leading-[1.4] font-normal tracking-[-0.03em];
  }
  .text-button-1 {
    @apply text-[1rem] leading-[1.3] font-medium tracking-[-0.03em];
  }
  .text-button-2 {
    @apply text-[0.875rem] leading-[1.3] font-normal tracking-[-0.03em];
  }
  .text-caption {
    @apply text-[0.75rem] leading-[1.2] font-light tracking-[-0.03em];
  }
  .text-overline {
    @apply text-[0.625rem] leading-[1.2] font-light tracking-[-0.03em];
  }
  /* flex */
  .flex-center {
    @apply flex items-center justify-center;
  }
  /* 체크박스, 라디오 커스텀 디자인 */
  .custom-checkbox:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .custom-radio:checked {
    background-image: url("data:image/svg+xml,%3Csvg  viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6' cy='6' r='6' fill='%234F555E' /%3E%3C/svg%3E");
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* 체크되지 않았을 때의 하트 모양 */
  .custom-heart-checkbox {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%234f555e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  /* 체크되었을 때의 하트 모양 */
  .custom-heart-checkbox:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23e53935' stroke='%23e53935' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z'%3E%3C/path%3E%3C/svg%3E");
  }
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
